<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wangguangjie.hit">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <application
        android:icon="@mipmap/hit"
        android:label="@string/app_name"
        android:theme="@style/mytheme">
        <activity android:name=".MainActivity" android:configChanges="orientation|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".WebInformation"
                  android:theme="@android:style/Theme.Holo.NoActionBar">
        </activity>
    </application>

</manifest>